li:hover {
    background-color: rgb(255, 206, 243);
}

li:active {
    color: red;
    font-size: 20px;
}

li {
    list-style: none;
}

body {
    background-color: azure;
    font-family: Helvetica;
    text-align: center;
}
